body {
  background-color: rgb(220, 220, 220);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body * {
  transition: 0.5s;
}

div.contenu {
  min-height: 100px;
  width: 90%;
  background-color: white;
}

div.contenu img.showroom {
  height: 200px;
}

div.ban{
  height: 200px;
  width: 100%;
  /* background-color: rgba(192, 57, 43, 0.4); */
  background-image: url("../design/images/fond1.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  min-height: 100px;
  width: 100%;
  background-color: rgb(192, 57, 43);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.ban > div.navbar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.navbar > div.panier, div.navbar > div.inscrire{
  height: 50px;
  width: 120px;
  background-color: rgb(231, 76, 60);
  margin-right: 5%;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
}

div.navbar > div.panier > a, div.navbar > div.inscrire > a{
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
}

div.navbar > div.panier:hover, div.navbar > div.inscrire:hover {
  background-color: rgb(200, 30, 30);
  text-decoration: underline;
}

h1 {
  margin: 10px;
  color: white;
}

div.ban > div.choix {
  width: 90%;
  height: 100%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(231, 76, 60);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.annonce {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.5);
  display: flex;
  justify-content: space-around;
}

hr {
  color: grey;
  width: 90%;
}

p.bold {
  font-weight: bold;
}

a.title {
  text-decoration: none;
  color: white;
  background-color: rgba(50,50,50,0.5);
  border-radius: 5px;
}

a.title:hover {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

div.title {
  padding-left: calc(5vw - 10px);
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  display: flex;
}

div.ajouter {
  background-color: rgb(192, 57, 43);
  width: 200px;
  height: 50px;
  border-radius: 5px;
  display: flex;
}

div.ajouter:last-of-type {
  margin-top: 10px;
}

div.ajouter:hover {
  margin-left: 20px;
  background-color: rgb(231, 76, 60);
}

div.ajouter > a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

button {
  margin-left: 10px;
  transition: none;
}

p.cat {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

@media (max-width: 801px) {
  div.annonce {
    flex-direction: column;
  }
}

div.choix form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

div.information {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.information img {
  max-width: 100%;
}

div.information h1 {
  color: black;
}

img.drapeau {
  height: 200px;
}

div.infoCompte{
  height: 50px;
  background-color: rgb(231, 76, 60);
  margin-right: 5%;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.infoCompte> p{
  margin: 15px;
}

div.infoCompte> p:first-of-type{
  padding-right: 25px;
}

#form form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

#form form div + div {
  margin-top: 1em;
}

#form label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

#form input, #form textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

#form input:focus, #form textarea:focus {
  border-color: #000;
}

#form textarea {
  vertical-align: top;
  height: 5em;
}

#form .button {
  padding-left: 90px;
}

#form button {
  margin-left: .5em;
}
